.Landing{
    display: flex;
   /*  border: 1px solid black; */
}

.imgash{
    height: 30rem;
    padding-left: 20rem;
}

.ash{
    /* border: 1px solid black; */
    width: 50%;
    z-index: 1;
    
}

.misty{
    /* border: 1px red solid; */
    width: 50%;
    z-index: 1;
    
}

.imgmisty{
    height: 30rem;
    padding-left: 0rem;
}

.ingresar{
    position: absolute;
    /* border: solid 1px black; */
    margin-left: 40%;
    width: 15rem;
}

.ingresar p{
    text-align: center;
}